header {
  padding-top: 30px;
  margin-bottom: 138px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__list {
  display: flex;
}
.menu__item:not(.menu__item:last-child) {
  margin-right: 30px;
}
.menu__link {
  @include font-helvetica-medium;
  color: #2C2321;
  line-height: 21px;
  font-size: 14px;
  &:hover {
    padding-bottom: 4px;
    border-bottom: 1px solid #2C2321;
  }
}
.flexcontainer {
  display: flex;
  align-items: center;
  position: relative;
}
.drop__list {
  margin-right: 49px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 7px;
    top: 8px;
    left: 39px;
    background-image: url("../img/arrow-down.svg");
    background-repeat: no-repeat;
  }
  &:hover .drop__item__ru {
    display: block;
  } 
}
.drop__item__ru {
  display: none;
  position: absolute;
  width: 100%;
}

.lang {
  @include font-helvetica-medium;
  color: #2C2321;
  line-height: 21px;
}

.contact {
  @include font-cabinet-bold;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 30px;
  background-color: #D6680F;
  border: none;
  border-radius: 6px;
}