.decoration__cont {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 452px;
    top: 0;
    width: 838px;
    height: 600px;
    background-image: url("../img/house.png");
    z-index: -1;
  }
  &:before {
    content: "";
    position: absolute;
    top: -122px;
    left: -124px;
    width: 249px;
    height: 221px;
    background-image: url("../img/blot.svg");
    z-index: -1;
  }
}
.promo__title {
  @include font-cabinet-black;
  font-size: 62px;
  line-height: 77px;
  color: #2C2321;
  max-width: 533px;
  margin-bottom: 20px;
}
.promo__text {
  @include font-helvetica-regular;
  color: #61594D;
  font-size: 18px;
  line-height: 30px;
  max-width: 452px;
  margin-bottom: 34px;
}
.promo__button {
  @include font-cabinet-bold;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 40px;
  background-color: #D6680F;
  border: none;
  border-radius: 6px;
  margin-bottom: 100px;
}
.promo__footer {
  display: flex;
  justify-content: space-between;
}
.ratings__cont {
  display: flex;
  margin-bottom: 7px;
}
.ratings__title {
  @include font-cabinet-bold;
  font-size: 20px;
  line-height: 22px;
  position: relative;
  margin-right: 31px;
  letter-spacing: 0.02em;
  &:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 1px;
    left: 77px;
    background-image: url("../img/star.svg");
  }
}
.ratings__grade {
  @include font-cabinet-bold;
  font-size: 20px;
  line-height: 22px;
}
.ratings__text {
  @include font-helvetica-regular;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.02em;
  color: #61594D;
  margin-bottom: 20px;
}
.ratings__list {
  display: flex;
}
.ratings__item {
  width: 48px;
  height: 48px;
}
.ratings__image {
  width: 100%;
  border-radius: 50%;
  border: 1.5px solid #fff;
}
.avatar,
.total-avatar {
  margin-left: -9px;
}
.total-avatar {
  width: 48px;
  height: 48px;
  border: 1.5px solid #fff;
  border-radius: 50%;
  background-color: #D6680F;

  @include font-cabinet-bold;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding: 14px 10px;
}
.promo__phone {
  margin-top: 28px;
}
.phone__contacts {
  @include font-cabinet-bold;
  font-size: 16px;
  line-height: 20px;
  color: #D6680F;
  border-bottom: 1px solid #D6680F;
}
.phone__text {
  @include font-helvetica-medium;
  font-size: 12px;
  line-height: 18px;
  color: #61594D;
  margin-top: 10px;
  max-width: 249px;
}